<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Add CCTV</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>
<body>
    <form action="/dashboardadm/list_cctv/add_cctv" method=post>
        <div class="mb-13 mt-3">
        <label for="nama" class="form-label">Nama CCTV:</label>
        <input type="input" class="form-control" placeholder="Nama" name="nama_cctv" required>
        </div>
        <div class="mb-3">
        <label for="univ" class="form-label">Link CCTV:</label>
        <input type="input" class="form-control" placeholder="rtsp://user:12345@1.2.3.4:554" name="link_cctv" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>